<h1>The form goes here, bro</h1>
<form action="/contact" method="POST">
	<input type="text" placeholder="Enter Name" name="username">
	<br>
	<input type="text" placeholder="Enter Email" name="email">
	<input type="submit">
</form>